h1{
    color: red;
}

.sketch-container{
    display: inline-grid;
    border: 1px solid black;
}

.pixel{
    width: 1rem;
    height: 1rem;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    margin: 0;
    
}